@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}

#item{
  margin-bottom: 0.5rem;
  transition: 0.4s;
}

#item:hover{
  transform: scale(1.05);
}

.item--detail{
  margin:100px 10% 100px 10%;
}

